{%  style %}
  .page-with-image__image {
    {% if section.settings.image %}
      background-image: url({{ section.settings.image | image_url: width: 2048, height: 2048 }});
    {% endif %}
    background-size: cover;
    background-position: center;
    min-height: 400px;
    width: 100%;
  }
{% endstyle %}


<section id="page-with-image__uid--{{ section.id }}" class="page-with-image">
    <div class="page-width--wide container page-with-image__container">
        <div class="row">
            <div class="page-with-image__image">But I am here tho</div>

            <div class="page-with-image__content">
                <h2 class="page-with-image__heading">{{ section.settings.heading }}</h2>
                <p class="page-with-image__text">{{ section.settings.text }}</p>
                <a href="{{ section.settings.button_url }}" class="button page-with-image__button">{{ section.settings.button_text }}</a>
            </div>
        </div>
    </div>
</section>

{%  schema %}
{
    "name": "Page with Image Custom",
    "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
        {
            "type": "richtext",
            "id": "heading",
            "label": "Heading",
            "default": "<p>Your Heading Here</p>"
        },
        {
            "type": "textarea",
            "id": "text",
            "label": "Text",
            "default": "Your text goes here."
        },
        {
            "type": "text",
            "id": "button_text",
            "label": "Button Text",
            "default": "Learn More"
        },
        {
            "type": "text",
            "id": "button_url",
            "label": "Button URL",
            "default": "/"
        }
    ],
    "presets": [
        {
            "name": "Page with Image Custom"
        }
    ]
}
{% endschema %}